p{
  font-family : Arial;
  margin-top:0;
  margin-bottom:0;
}
.video-title{
  font-weight:bold;
  font-size:18px;
  width:300px;
  line-height: 24px;
  margin-bottom:10px;
}

.video-stats{
  font-size : 14px;
  color: gray;
  margin-bottom: 20px;
}

.youtuber-name {
  font-size : 14px;
  color : gray; 
  margin-bottom : 20px;
}

.video-description{
  width : 300px;
  font-size : 14px;
  line-height:22px;
  color : gray;
  margin-bottom : 100px;

}

.apple-banner {
  font-size : 14px;
  margin-bottom : 50px;
  background-color : red;
  color : white;
  text-align : center;
  padding-top : 18px;
  padding-bottom : 18px;

}

.show-now-hyperlink{
  transition: text-decoration 0.15s;
  cursor : pointer;
}

.show-now-hyperlink:hover{
  text-decoration:underline;
}